{% extends "base.html" %}
{% block title%}DashBoard{% endblock %}

{% block content %}


<div class="mx-auto" style="width: 400px; margin-top: 100px;">
    <form action="/signout" method="GET">
        <h2 class="text-center" style="margin-top: 100px;">
            Bienvenido: {{session['user']['username']}}
        </h2>
        <button class="btn btn-secondary" type="submit">
            Salir
        </button>

    </form>
    <form action="/changePassword" method="GET">
        <button class="btn btn-primary" type="submit">
            Cambiar Contrasena
        </button>
    </form>
</div>
{% endblock %}